body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #212529;
}

p {
  line-height: 1.75;
  color: #1DB954;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  color: #1DB954;
  
}

a:hover {
  color: #1aa34a;
  text-decoration: none;
}

.text-primary {
  color: #1DB954 !important;
}

#message {
  background-color: #212529;
  padding: 50px;
  width: 100%;
}

#message p {
  color: #ac3326 !important;
  background-color: #212529;
  
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h4 {
  font-family: 'Righteous', cursive;
}

h6 {
  color: #e9ecef !important;
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;

}



.alert {
  font-family: 'Righteous', cursive;
}

#post {
  background-color: #3a3f44 !important;
  padding: 2%;
  border-radius: 15px;
  
}

#file {
  cursor: pointer;
  background-color: #212529;
  color: #1DB954;
}

.avatarProfil {
  display: inline-block;
  position: inherit;
  overflow:hidden;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.showAvatar {
  overflow:hidden;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.avatar {
  display: inline-block;
  position: inherit;
  margin: 0 5px 0 5px;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
}

.editAvatar {
  overflow:hidden;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}


.editAvatar__button {
  position: absolute;
  top: 68px;
  left: 25px;
  opacity: 0;
  min-width: 110px;
}

#avatar {
  margin-top: 90px;
  padding: 50px;
}

img {
  position: relative;
}


.headerTab {
  color: #b6b8bb;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  
}

.date {
  font-size: 15px;
}



.beat1 {
  font-size: 16px;
  width: 25%;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-break: center;
}

.beat2 {
  width: 15%;
  font-size: 16px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-break: center;
}
.beat3 {
  width: 60%;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-break: center;
}

.page-section {
  margin-top: 90px;
  padding: 20px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

img-fluid {
  width: 250px !important;
  height: 150px !important;
 
}

#arrow {
  color:  #3a3f44  !important;
  position: relative;
}

#arrow:hover {
  color:#1DB954
  !important;
}

.table {
  border-radius: 10px;
}

.profilTab {
  padding: 30px;
  width: 30%;
}

.btn_page {
  
  display: inline-block;
  margin-right: 120px;
  float: right;
 
  
}

.btn-primary_page {
  background-color: #1DB954 !important;
  color: #212529 !important;
  margin: 0px;
  justify-content: flex-start;
  

  
  
}

.btn-primary_page:hover {
  background-color: #1aa34a !important;
  color: #fff !important;
}

.btn-primary_delete:hover {
  background-color: #c0392b !important;
  border-color: #c0392b;
}

.btn-primary_delete {
  background-color: rgb(185, 73, 29);
  border-color: rgb(185, 73, 29);
  color: #fff !important;
}

.btn-primary_delete:active, .btn-primary_delete:focus, r {
  background-color: rgb(185, 73, 29) !important;
  border-color: rgb(185, 73, 29) !important;
  color: #fff !important;
}

.btn-primary_delete:active, .btn-primary_delete:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(185, 73, 29) !important;
  box-shadow: 0 0 0 0.2rem rgb(185, 73, 29) !important;
}



.btn-primary_deco:hover {
  background-color: #ac3326 !important;
  border-color: #ac3326;
}

.btn-primary_deco {
  background-color: #c0392b;
  border-color: #c0392b;
  color: #fff !important;
}

.btn-primary_deco:active, .btn-primary_deco:focus, r {
  background-color: #c0392b !important;
  border-color: #c0392b4a !important;
  color: #fff !important;
}

.btn-primary_deco:active, .btn-primary_deco:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #c0392b !important;
  box-shadow: 0 0 0 0.2rem #c0392b !important;
}



#connect_describ {
  color: #1aa34a;
  text-align: center;
  padding: 50px;
  
  background-color: #212529 !important;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 40px;

}

.describ {
  color: #fff;
  text-align: center;
  padding: 50px;
  font-weight: bold;
  background-color: #3a3f44 !important;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#services {
  background-color: #212529;
  color: #e9ecef;
}

#portfolio {
  background-color: #212529 !important;
  color: #e9ecef !important;
}

#about {
  background-color: #e9ecef !important;
  color: #212529 !important;
}

#about1 {
  background-color: #e9ecef !important;
  color: #1DB954 !important;
}

#connect {
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 30px;
  z-index: 1;
}

#error {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #212529;
  color: #1DB954 !important;
  border-radius: 10px;
}

.fa-inverse {
  color: #212529 !important;
}
.text-muted {
  color: #ced4da !important;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.bg-dark {
  margin-top: 50px;
}

.btn_login {
  padding: 30px;
  border-radius: 9px ;
  color: #1aa34a; 
  font-weight: bold; 
  background-color: #212529;
}

.btn_signin {
  width: 100%;
  padding: 50px;
  border-radius: 9px ;
  color: #1aa34a; 
  font-weight: bold; 
  background-color: #212529 !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }

  
}

::-moz-selection {
  background: #1DB954;
  text-shadow: none;
}

::selection {
  background: #1DB954;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  
 
}

.btn-primary {
  background-color: #1DB954;
  border-color: #27ae60;
  font-size: 20px;
  z-index: 1;
  
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #1aa34a !important;
  border-color: #1aa34a !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #1aa34a !important;
  box-shadow: 0 0 0 0.2rem #1aa34a !important;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #1DB954;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #1DB954;
  font-family: 'Righteous', cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #1DB954;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #1aa34a;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }

 
}

header.masthead {
  text-align: center;
  color: white;
  /*background-image: url("img/beat2.jpg");*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 650px;
  z-index: 2;

  
  
}

.masthead_overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 650px;
  background-color: rgba(66, 143, 36, 0.157);
  opacity: 1;

  
}

.alert {
  text-align: center;

}

header.masthead_profil {
  text-align: center;
  color: white;
  height: 50%;
  background-image: url("img/beat.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  
}

header.masthead_login {
  text-align: center;
  color: white;
  height: 50%;
  background-image: url("img/perfect.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 650px;
}


header.masthead_signin {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

header.masthead_edit {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
  width: 100%;
  height: 650px;
}


header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  z-index: 1;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Righteous', cursive;
  
}

header.masthead .intro-text .intro-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 50px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Righteous', cursive;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 40px;
    font-weight: 700;
    
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
  color: #e9ecef;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  
  opacity: 0;
  background-color: #1aa34a;
  text-decoration: none;
  color: #212529 !important;
  /*rgba(254, 209, 54, 0.9)*/
  
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.5;
 
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
  color: #1aa34a !important;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #3a3f44;
  
  opacity: 2;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
  color: #1DB954;
  
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Righteous', cursive;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }

  
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #1DB954;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }

  .audio {
    width: 100% !important;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #1DB954;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer {
  padding: 25px 0;
  text-align: center;
  color: #e9ecef !important;
  background-color: #3a3f44 !important;
  margin-top: 50px;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #1DB954;
}

@media (max-width: 750px) {



  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #1DB954;
    font-family:'Righteous', cursive;
  }

  .text-muted {
    font-size: 14px;
  }


  .audio {
    width: 100% !important;
  }


  .date {
    font-size: 8px;
  }

  

  .beat1 {
    font-size: 12px; 
    line-break: auto;
    width: 35%;
  }

  
  .beat2 {
    font-size: 12px;
    width: 15%;
  }

  
  .beat3 {
    font-size: 8px;
    width: 50%;
  }
  
  .profilTab {
    padding: 10px;
  }

  .btn_page {
    
    display: inline-block;
    margin-right: 50px;
    float: right;  
  }

  header.masthead {
    height: 450px;
  }

  .masthead_overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 450px;
    background-color: rgba(66, 143, 36, 0.157);
    opacity: 1;

  }

  header .intro-heading {
    font-size: 20px !important;
    display: block;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 50px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  #mainNav .navbar-brand {
    color: #1DB954;
    font-family: 'Righteous', cursive;
  }
  
  #avatar {
    margin-top: 90px;
    padding: 10px;
  
  }

  #connect_describ {
    color: #1aa34a;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: #212529 !important;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Righteous', cursive;
  }

  #file {
    cursor: pointer;
    background-color: #212529;
    color: #1DB954;
    width: 80%;
  }

  .showAvatar {
    overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  .avatar {
    display: inline-block;
    position: inherit;
    margin: 0 5px 0 5px;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
  }
}